In [116]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd
nba_teams = teams.get_teams()
times = []
season = []
for team in nba_teams:
    ##print(team['id'])
    times.append(team['id'])

In [118]:
#for t in range(len(times)):
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=times[0])
games = gamefinder.get_data_frames()[0]
season.append(games)

In [119]:
df = pd.DataFrame(season[0])

In [120]:
df['TEAM_ABBREVIATION'].unique()

array(['ATL'], dtype=object)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612737,ATL,Atlanta Hawks,1521900072,2019-07-12,ATL @ SAS,W,201,80,...,0.850,13,23,36,14,15.0,3,12,24,8.0
1,22019,1610612737,ATL,Atlanta Hawks,1521900060,2019-07-11,ATL @ WAS,L,200,71,...,0.700,9,28,37,19,10.0,8,22,25,-5.0
2,22019,1610612737,ATL,Atlanta Hawks,1521900042,2019-07-09,ATL vs. IND,W,202,87,...,0.708,7,27,34,17,5.0,5,18,21,18.2
3,22019,1610612737,ATL,Atlanta Hawks,1521900023,2019-07-07,ATL vs. MIN,L,178,60,...,0.625,9,27,36,7,7.0,10,18,28,-24.0
4,22019,1610612737,ATL,Atlanta Hawks,1521900023,2019-07-07,ATL vs. MIN,None,21,6,...,0.500,1,2,3,1,0.0,1,4,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3235,21983,1610612737,ATL,Atlanta Hawks,0028300058,1983-11-06,ATL @ MIL,L,240,84,...,0.667,11,26,37,18,4.0,5,14,24,NaN
3236,21983,1610612737,ATL,Atlanta Hawks,0028300041,1983-11-04,ATL vs. CHI,W,240,103,...,0.692,19,27,46,31,14.0,13,18,27,NaN
3237,21983,1610612737,ATL,Atlanta Hawks,0028300027,1983-11-01,ATL vs. WAS,W,240,95,...,0.633,12,29,41,20,7.0,10,16,34,NaN
3238,21983,1610612737,ATL,Atlanta Hawks,0028300014,1983-10-29,ATL vs. DET,W,240,117,...,0.633,27,21,48,28,14.0,7,23,35,NaN
3239,21983,1610612737,ATL,Atlanta Hawks,0028300005,1983-10-28,ATL @ NJN,L,240,108,...,0.684,15,18,33,14,10.0,5,17,30,NaN

In [ ]:
df[df['TEAM_ABBREVIATION'] == 'ATL']